.test3 {
    color: darkolivegreen
}
.test4 {
color: midnightblue
}
.test5 {
       font-style: italic

}
img {
    width: 150px;
}
pizza {
     width: 200px;
}
body {
    background-color: lightblue;
    color: purple

}